.header {
  width: 100%;
  background-color: white;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
}
.header--h1 {
  padding: 4px;
  background-color: pink;
}
